KurenaiWorldBuildingProject/.vs/
KurenaiWorldBuildingProject/Library/
KurenaiWorldBuildingProject/Logs/
KurenaiWorldBuildingProject/obj/
KurenaiWorldBuildingProject/Temp/

KurenaiWorldBuildingProject/.vsconfig

App/